.container-flex
  .col-xs-12.viewport-height-100.center-both.hero.flex-column
    %h1 Web tools
    %p Here's where the tools you need & you meet
    = link_to "Sign in!", root_path, class: "btn btn-default"